{ "jdbc-driver" =>
  { "{{ values['driver_name'] }}" => {
        "driver-name" => "{{ values['driver_name'] }}",
        "driver-module-name" => "{{ values['driver_module_name'] }}",
        "driver-xa-datasource-class-name" => "{{ values['driver_xa_datasource_class_name'] }}",
		"driver-class-name" => "{{ values['driver_class_name'] }}",
		"driver-datasource-class-name" => "{{ values['driver_datasource_class_name'] }}",
		"module-slot" => "{{ values['module_slot'] }}"
    }
  }
}
