#    Copyright 2013 Red Hat, Inc. and/or its affiliates.
#
#    This file is part of jcliff.
#
#    This program is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    This program is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with this program.  If not, see <http://www.gnu.org/licenses/>.

configurable.1=system-properties
configurable.2=jmx
configurable.3=threads
configurable.4=logging
configurable.5=jdbc-driver
configurable.6=datasource
configurable.7=xadatasource
configurable.8=web
configurable.9=webservices
configurable.10=infinispan
configurable.11=security
configurable.12=scanner
configurable.13=deployments
configurable.14=subsystem
